# Gradle
.gradle
**/build/
!**/src/**/build/
gradle-app.setting
.gradletasknamecache
!gradle-wrapper.jar
!gradle-wrapper.properties

# IDEs (IntelliJ, Eclipse, VS Code)
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.factorypath
.vscode/

# Logs and OS Files
logs/
*.log
.DS_Store
Thumbs.db